The customer should see a welcome when they start the application. - Done
A customer should have a list of menu options at the start of the application. - Done
A customer should be able to select a menu option. - In Progress.
A customer should be notified if they do not select a valid option with “Select a valid option!!”
A customer should be able to view all books the library has.


A customer should be able to reserve a book for collection.
A customer should be notified if their selected book was reserved successfully with “Thank You! Enjoy the book.”
A customer should be notified if their selected book is not available with “Sorry we don't have that book yet.”
A customer should be able to check their library number and be notified with “Please talk to Librarian. Thank you.”
